body {
    margin: 0px;
}

.DaySelector {
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.CommentContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1000px;
    height: 50px;
    margin: auto;
    font-family: sans-serif;
}

.CommentAvailable{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.CommentUnavailable{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.CommentMyMeeting{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.AvailableIcon{
    background-color: #9ee980;
    height: 50px;
    width: 50px;
}

.UnavailableIcon{
    background-color: #f56e6e;
    height: 50px;
    width: 50px;
}

.MyMeetingIcon{
    background-color: #eee890;
    height: 50px;
    width: 50px;
}